body {
    background-color:#efefef;
    margin:0px;
}

nav{
    background-color: white;
    border-color:#cccccc; 
    display: flex;
    justify-content: space-around;
    margin-bottom:50px;
    align-items:center;
}

.header {
    background-color:#4aaaa5;
    color:white;
    padding:10px;  
    width:200px;
}

.menu_items {
    color:#777777;
    align-items:center;
    flex-direction:column;
    justify-content: flex-end;
    
}

ul {
    list-style-type:none;
   
}

li{
    float:left;
    margin-right:30px;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}

.flex-container {
    height:100%;
    padding:0;
    margin:0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.main_content {
    background-color:#ffffff;
    max-width: 960px;
    margin-left:150px;
  
}

section {
    padding:20px;

}

h2 {
    color:#4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.footer{
    background-color: #666666;
    border-color:#cccccc; 
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-top: 8px solid #4aaaa5;
    margin-top:50px;
    padding:20px;
    color:white;
    font-size:small;
    flex-shrink:0;
}

/* form{
    display:flex;
    min-height: 1px;
    flex-wrap:wrap;
} */

.first_name {
    width:100%;
    margin-bottom: 20px;
    height:15px;
}

.email {
    width:100%;
    margin-bottom: 20px;
    height:15px;

}

.message {
    width:100%;
    margin-bottom: 20px;
    height:200px;

}

label{
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    background:#4aaaa5;
    color:white;
    height: 30px;
    width: 100px;
    margin-left: 5%;
    margin-bottom:5%;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}